.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.answers-header {
  position: relative;
  width: fit-content;
  z-index: 0;
  padding: 0 .5rem;
}


.answers-header::before {
    content: '';
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0); 
    filter: blur(6px);
    z-index: -1;
  }