---
import Layout from "../layouts/Layout.astro";
import Guesser from "../components/Guesser/Guesser.jsx";
---

<Layout title="Bleach Guesser - Clásico">
  <main class="h-screen flex flex-col justify-start items-center p-4 overflow-y-auto">
    <Guesser gameMode='Classic' client:load />
  </main>
</Layout>
