---
import Layout from "../layouts/Layout.astro";
import ClassicGuesser from "../components/Classic-Guesser/Classic-Guesser.jsx";
---

<Layout title="Bleach Guesser - Clásico">
  <main>
    <ClassicGuesser client:load />
  </main>
</Layout>
