---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bleach Guesser">
  <main class="flex flex-col items-center justify-center min-h-screen">
    <h1 class="text-white text-center text-3xl">
      Bienvenido a <span class="text-yellow-500">Bleach Guesser</span>
    </h1>

    <h2 class="text-center text-white text-2xl">
      Adivina los personajes de <span class="text-yellow-500">Bleach</span>
    </h2>

    <ul class="flex flex-col gap-y-4 justify-center items-center text-white">
      <li class="w-full max-w-[250px]">
        <a
          href="./classic"
          class="block border-2 border-white p-2 rounded-md bg-orange-800"
        >
          <span class="block text-2xl font-semibold mb-1">Clásico</span>
          <span class="font-thin">Cada intento te dara más pistas</span>
        </a>
      </li>
     <li class="w-full max-w-[250px]">
        <a
          href="./classic"
          class="block border-2 border-white p-2 rounded-md bg-orange-800"
        >
          <span class="block text-2xl font-semibold mb-1">Habilidad</span>
          <span class="font-thin">A quien le pertenece la técnica</span>
        </a>
      </li>
     <li class="w-full max-w-[250px]">
        <a
          href="./classic"
          class="block border-2 border-white p-2 rounded-md bg-orange-800"
        >
          <span class="block text-2xl font-semibold mb-1">Imagen</span>
          <span class="font-thin">Cada intento te dara más pistas</span>
        </a>
      </li>
     <li class="w-full max-w-[250px]">
        <a
          href="./classic"
          class="block border-2 border-white p-2 rounded-md bg-orange-800"
        >
          <span class="block text-2xl font-semibold mb-1">Modo clásico</span>
          <span class="font-thin">Cada intento te dara más pistas</span>
        </a>
      </li>

    </ul>
  </main>
</Layout>

<style>
  h1, h2 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    z-index: 100;
    padding: 0 .5rem;
  }

  h2 {
    margin: 1rem auto;
  }

  h1::before, h2::before {
      content: '';
      position: absolute;
      top: 5px;
      left: 0;
      right: 0;
      bottom: 0;
      background: #000; 
      filter: blur(10px);
      z-index: -1;
    }
</style>
