---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bleach Guesser">
  <main>
    <h1 class="text-white text-center text-3xl">
      Bienvenido a <span class="text-yellow-500">Bleach Guesser</span>
    </h1>

    <h2 class="text-center text-white text-2xl my-4">
      Adivina los personajes de <span class="text-yellow-500">Bleach</span>
    </h2>

		<ul class="flex justify-center items-center text-white">
			<li>
				<a href="./classic" class="block border-2 border-white p-2 rounded-md">
				 <span class="block text-xl mb-1">Modo clásico</span>
				 <span>Cada intento te dara más pistas</span>
				</a>
			</li>
		</ul>
  </main>
</Layout>
